// Import page-specific CSS files here.
@import "home";
@import "dashboard";
@import "profile";
@import "newbooking";

.row h1 {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

#large-text {
  font-size: 35px;
}
