.profile {
  padding-top:20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.boxed {
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    margin-bottom: 30px;
}
.profile-user-banner {
  // background: linear-gradient(#7e7d6e, #9CB0AE);
  display: flex;
  flex-direction: column;
  // height: 300px;
  align-items: center;
  padding: 30px;
  background-image: image-url('cooking_flatlay.jpg');
  color: white;
  height: 45vh;
  background-size: cover !important;
}
.profile-user-banner .user-profile-image img{
  border-radius:50%;
  height:200px;
  width:200px;
}
.profile-user-intro {
    padding: 30px;
}
.headings-profile {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.headings-profile .section-heading {
    color: #FFB30F;
    padding-bottom: 15px;
}
.headings-profile .section-heading span {
    color: #ffffff;
    font-size: 25px;
    background: #94a29d;
    color: #ffffff;
    border-radius: 2px;
}
.headings-profile .section-heading:before {
    border-bottom: 1px solid #ffffff;
  }
.profile-user {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
}
.image-profile {
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
    border: 1px solid #ffffff;
}
.profile-user-intro {
  display: flex;
  flex-direction: column;
}
.profile-user-intro h4 {
  text-transform: uppercase;
}
.profile-user-intro p {
  font-size: 18px;
  opacity: .5;
  font-weight: lighter;
  overflow: hidden;
  color: black;
}
.card-profile-top {
    height: 200px;
    /* text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6); */
    background-size: cover !important;
    background-position: center;
    color: white;
    position: relative;
    margin-bottom: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.card-profile-bottom {
    background: white;
    height: 170px;
    color: black;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-price-profile {
    color: #FFB30F;
    opacity: 0.9;
    padding-top: 10px;
    padding-left: 2%;
    font-size: 24px;
}
