<div class="banner" style="background-image: url(/assets/cooking_flatlay.jpg);">
  <div class="banner-content">
    <h1>FOODGURU</h1>
    <p>Master any cuisine with the help of locals</p>

    <%= link_to lessons_path do  %>
      <div class="btn btn-primary btn-guru">Learn to cook</div>
    <% end %>
    <%= link_to new_lesson_path do  %>
    <div class="btn btn-primary btn-guru">Host an event</div>
    <% end %>
    <%= render 'shared/searchbar' %>
  </div>
</div>
