<div class="banner" style="background-image: url(/assets/food-image.jpeg);">
  <div class="banner-content">
    <h1>FOODGURU</h1>
    <p>Master any cuisine with the help of locals</p>
    <a class="btn btn-primary btn-guru">Find</a>
    <a class="btn btn-primary btn-guru">Host</a>
  </div>
</div>

