<div class="container benefits">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card bf">
        <div class="card-title">
          <h2>Learn something new</h2>
        </div>
        <div class="card-description">
          <p>It's never to late to learn how to make beautiful meal from all over the world.</p>
          <%= link_to lessons_path do  %>
          <p>Browse classes</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card bf">
        <div class="card-title">
          <h2>Make new friends</h2>
        </div>
        <div class="card-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit voluptas suscipit elit.</p>
          <%= link_to lessons_path do  %>
          <p>Book a class</p>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-4">
      <div class="card bf">
        <div class="card-title">
          <h2>Earn while cooking</h2>
        </div>
        <div class="card-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit voluptas suscipit elit.</p>
          <%= link_to lessons_path do  %>
          <p>Sign up</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
