<!-- Banner import -->
<%= render 'shared/banner' %>

<!-- Benefits section -->


<!-- About section -->
<div class="ups-container--home">
  <h2 class="hp__section-heading">
      <span>About</span>
  </h2>
</div>
