<!-- Banner import -->
<%= render 'shared/banner' %>

<!-- Benefits section -->
<%= render 'shared/homecards'%>

<!-- Heading -->
<div class="headings-home">
  <h2 class="section-heading">
    <span>Latest cooking classes</span>
  </h2>
</div>

<!-- Slider -->
<%= render 'shared/slider', lessons: @selected_lessons %>

<!-- Heading -->
<div class="headings-home">
  <h2 class="section-heading">
    <span>Another heading here</span>
  </h2>
</div>



