<!-- Banner import -->
<%= render 'shared/banner' %>


<div class="container home">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <!-- Slider section -->
      <%= render 'shared/slider', lessons: @selected_lessons %>
    </div>
  </div>
</div>

<!-- Benefits section -->



<!-- About section -->
<div class="headings-home">
  <h2 class="section-heading">
    <span>Latest cooking news</span>
  </h2>
</div>








