<div class="container">
  <div class="row">
    <div class="headings-home">
      <h1 class="section-heading">
        <span id="large-text">List of Lessons</span>
      </h1>
    </div>
    <%= render 'shared/card' %>
  </div>
</div>




<div class="container">
  <div class="row">


    <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    ></div>

  </div>
</div>
